<h2>Hi! You're on the homepage.</h2>
{{#if status}}
  <h4>Bienvenido! Estas logeado</h4>
  <p>Only logged users can listen to this masterpiece, enjoy</p>

{{else}}
  <h4>Oops! Looks like you're not logged in</h4>
{{/if}}